---
import { BannerBackgroundEffects } from './BannerBackgroundEffects';
---

<div class="banner-background-effects">
  <BannerBackgroundEffects client:idle />
</div>

<style>
  .banner-background-effects {
    position: absolute;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
  }
</style>
