.projectTemplate {
  width: 100%;
  min-height: 100vh;
  outline-offset: -0.5px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.projectTemplate * {
  scroll-behavior: smooth;
}

.gallerySection {
  width: 100%;
  padding: 60px 0;
  max-width: var(--maxWidth);
  margin: 0 auto;
}

@media (max-width: 768px) {
  .gallerySection {
    padding: 40px 0;
  }
}
