.strip {
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.row {
  display: flex;
  gap: 16px;
  width: 100%;
}

@media (max-width: 1024px) {
  .row {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .strip {
    padding: 0 24px;
  }
}

@media (max-width: 480px) {
  .strip {
    padding: 0 16px;
  }

  .grid {
    gap: 12px;
  }

  .row {
    gap: 12px;
  }
}
