---
import Layout from '../layouts/Layout.astro';
import Descripcion from '../components/Home/Descripcion.astro';
import ExpertosUsuarios from '../components/Home/ExpertosUsuarios.astro';
import EnterpriseMarquee from '../components/Home/EnterpriseMarquee.astro';
import Especialidades from '../components/Home/Especialidades.astro';
import MainCat from '../components/Home/MainCat.astro';
import Herramientas from '../components/Home/Herramientas.astro';
import Projects from '../components/Home/Projects.astro';
import Footer from '../components/UI/Footer.astro';

---

<Layout title="Bienvenido a Astro">
	<main>
	
		<Descripcion />
		
		<EnterpriseMarquee />
		
		
		<ExpertosUsuarios />

		<Especialidades />
		
		
		<MainCat/>

		<Herramientas />

		<Projects />

		<Footer />

	</main>
</Layout>


