---
import Layout from '../layouts/Layout.astro';
import Header from '../components/ui/Header.astro';
import StickyFooter from '../components/ui/StickyFooter.astro';
import MainCat from '../components/ui/MainCat.astro';
import Privacy from '../components/sections/privacy/Privacy.astro';
import { getLangFromUrl } from '../i18n/utils';
import { translations } from '../i18n/translations';

const currentLang = getLangFromUrl(Astro.url);
const t = translations[currentLang].privacy;
---

<Layout
  title={t.seo.title}
  description={t.seo.description}
  keywords={t.seo.keywords}
>
  <Header />

  <main>
    <Privacy lang={currentLang} />
    <MainCat />
  </main>

  <StickyFooter />
</Layout>

