.glassEffect {
  position: relative;
  overflow: hidden;
}

.glassLayer1,
.glassLayer2,
.glassLayer3 {
  display: none;
}

.glassContent {
  position: relative;
  z-index: 1;
  width: 100%;
}

.svgFilter {
  display: none;
}
