---
// Componente Astro que actúa como contenedor para el widget de React
import ChatbotWidget from './ChatbotWidget.tsx';
import './chatbot.css';
import { getLangFromUrl } from '../../i18n/utils.js';
import { translations } from '../../i18n/translations.js';

const currentLang = getLangFromUrl(Astro.url);
const t = translations[currentLang];
---

<div class="chatbot-container">
  <ChatbotWidget client:only="react" lang={currentLang} translations={t.chatbot} />
</div>

