---
// Componente Astro que actúa como contenedor para el widget de React
import ChatbotLazy from './ChatbotLazy.tsx';
import './chatbot.css';
import './markdown.css';
import { getLangFromUrl } from '../../../i18n/utils.js';
import { translations } from '../../../i18n/translations.js';

const currentLang = getLangFromUrl(Astro.url);
const t = translations[currentLang];
---

<div class="chatbot-container">
  <ChatbotLazy client:only="react" lang={currentLang} translations={t.chatbot} />
</div>

