---
import { getLangFromUrl } from '../../../i18n/utils.js';
import { translations } from '../../../i18n/translations.js';
import styles from './Banner.module.css';
import TopLayer from '../../modules/banner/TopLayer.astro';
import BackLayer from '../../modules/banner/BackLayer.astro';
import AnimatedLogo from '../../modules/banner/AnimatedLogo.astro';

// Detect current language
const currentLang = getLangFromUrl(Astro.url);
const t = translations[currentLang];
---

<section class={styles.banner}>
  <div class={styles.bannerContainer}>
    <BackLayer noiseOpacity={0.01} />

    <AnimatedLogo />
    <TopLayer />
  </div>
</section>
