.counter-container {
  position: relative;
  display: inline-block;
}

.counter-counter {
  display: flex;
  overflow: hidden;
  line-height: 1;
  align-items: center;
  transition: color 0.5s ease;
  color: var(--counter-color, #D0DF00) !important;
}

.counter-digit {
  position: relative;
  width: 1ch;
  font-variant-numeric: tabular-nums;
  overflow: hidden;
}

.counter-number {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-suffix {
  margin-left: 0.1em;
  font-variant-numeric: tabular-nums;
  color: var(--counter-color, #D0DF00) !important;
  transition: color 0.5s ease;
}

.gradient-container {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-gradient {
  position: absolute;
  top: 0;
  width: 100%;
}

.bottom-gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
}
