---
import styles from './SectionHeading.module.css';

interface Props {
  lightText: string;
  highlightText: string;
  tag?: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6';
}

const { lightText, highlightText, tag = 'h2' } = Astro.props;
const Tag = tag;
---
<div class={styles.headingWrapper}>
  <span class="heading-5" style="color: var(--color-white);">{lightText}</span>
  <Tag class="heading-5" style="color: var(--color-yellow); margin: 0;">{highlightText}</Tag>
</div>
